.logo{
	display: block;
	margin-right: 20px;
	
}

.footer{
	position:relative; 
	bottom:0; 
}

.cardimg{
	width: 240px;
	height: 283px;
	display: block;
	margin: 0 auto;
}

/* Скролл ап */

.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 60px;
	z-index: 99;
	width: 50px;
	height: 50px;
	color: red;
	cursor: pointer;
	visibility: hidden;
	border-radius: 50px;
	box-shadow: inset 0 0 0 4px #dcdcdc;
	opacity: 0;
	transition: .2s;
	transform: translateY(25px);
}

.scroll-up::before {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 20px;
	content: '↑';
}

.scroll-up:hover {
	color: #b8c9f1;
}

.scroll-up--active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);

}

.scroll-up__svg-path {
	box-sizing: border-box;
	fill: none;
	stroke: #fff3cd;
	stroke-width: 4px;
	transition: .2s;
}

.nav-link{
  padding: .5rem .8rem;
}

/* Скролл ап конец */